/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-image: url('vegetable-background.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*background: #5f357d;
  background: radial-gradient(circle farthest-corner at right bottom, #ffd08a 0%, #ffa376 28%, #d26578 52%, #682a84 79%, #241668 100%);*/
  height: 100vh;
  background-attachment: fixed;
  }

 nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-image: url(navbar-texture-two.jpeg);
  background-position: center;
  background-size: 100% 700%;
  background-repeat: no-repeat;
  background-color: #F0BB4B;
  padding: 8px 15px;
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 99vw;
  box-shadow: 2px 0 10px 0 black;
 }

 nav a {
   color: #704C22;
   font-weight: bold;
 }

 .padding-right-zero {
    padding-right: 0px;
 }

li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.company_name, .main-links {
  display: inline-block;
  /* text-align: center; */
  margin-left: 25px;
}

.no-margin {
  margin: 0;
}

.sign_out {
  grid-column: 2/3;
  grid-row: 1/2;
  /* text-align: right; */
  font-size: 14px;
  margin-top: 7px;
  margin-right: 15px;
}

.company_name {
  margin: 0;
  margin-left: 25px;
}

.company_name a {
  font-family: 'Aref Ruqaa', serif;
  color: black;
}

.company_name_signed_out {
  font-family: 'Aref Ruqaa', serif;
  margin: 0;
}

.company_name a:hover {
  text-decoration: none;
}
