// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.3fr .7fr;
  grid-column-gap: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 98px;
}

.blogpost-wrapper, .posted-blog-wrapper, .other-users-wrapper {
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

.blogpost-wrapper {
  height: 300px;
  padding: 15px;
  text-align: center;

}

.posted-blog-wrapper {
  height: 78vh;
  overflow: auto;
  min-width: 250px;
  padding: 25px 56px;
}

.bottom-border {
  border-bottom: 1px solid #dbdbdb;
  padding: 0;
  margin: 10px 0;
}

.other-users-wrapper {
  height: 200px;
  min-width: 200px;
}

.other-users-wrapper h3 {
  margin-bottom: 20px;
}

.recipe-name {
  width: 322px;
  border-bottom: none;
}

.submit-btn {
  width: 334px;
  background-color: #f2efef;
  border: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 27px;
}

.recipe-name, .recipe-steps {
    padding: 5px;
    border-right: 0px;
    border-left: 0px;
}

.recipe-steps {
  width: 322px;
  height: 100px;
  resize: none;
  border: .1px solid #dbdbdb;
  border-bottom: none;
}

.comment-field {
  display: block;
  width: 95%;
  height: 20px;
  border-radius: 15px;
  border: 1px solid #dbdbdb;
  padding: 5px 10px;
  margin: 0 auto;
  resize: none;
}

.blogpost_body {
  font-weight: bold;
  font-size: 1.5em;
  word-break: break-all;
}

.blogpost_title {
  font-size: 1.2em;
  margin: 15px 0;
}

.comments_title {
  margin: 15px 0;
}

.blogpost_comments {
  margin-bottom: 10px;
  background-color: #F2EFEF;
  border-radius: 15px;
  padding: 5px 15px;
  word-break: break-all;
}

.blogpost_comments a:first-child{
  font-size: 18px;
}

.bold {
  font-weight: bold;
  color: black;
}

.fellow-bakers {
  font-size: 1.5em;
}

.center-text {
  text-align: center;
}
